* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px gray;
}

section {
    margin: 10px 20px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #eee;
    font-size: 0.9rem;
}

h2 {
    border-bottom: 1px solid #333;
}

section p {
    margin: 10px 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
}

ul {
    margin: 10px 20px 0 20px;
}