/* Reset básico opcional */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para todo el body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

/* Estilo para el header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 1.5rem;
}

/* Estilo para el main */
main {
    width: 400px;
    margin: 0 auto;
}

/* Estilo para h1 */
h1 {
    margin: 10px;
    text-align: center;
}

/* Estilo para todas las imágenes */
img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px gray;
}

/* Estilo para las secciones */
section {
    margin: 10px 20px;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #eee;
    font-size: 0.9rem;
}

/* Estilo para h2 dentro de las secciones */
h2 {
    border-bottom: 1px solid #333;
}

/* Estilo para los párrafos dentro de las secciones */
section p {
    margin: 10px 20px;
}

/* Estilo para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
}

/* Estilo para la lista desordenada */
ul {
    margin: 10px 20px 0 20px;
}